body {
    text-align: center;
    background-color: cyan;
}

img {
    margin: 100px 0 50px 0;
    width: 300px;

}
input {
  width: 300px;
  margin: 20px 20px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-family: Shanti;
  font-size: 1.3em;
  text-align: center;
}

input:focus {
    outline: none;
    border: solid 2px black;
}

